<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <link href="./register.hbs">
</head>

<body>
    {{!-- {{>navbar}} //for comman --}}
    <h1><u>Employee Registration Form</u></h1>
    <div class="container">
        <form action="/register" method="POST">

            <lable for="name">Name</lable>
            <i class="fa-solid fa-circle-user"></i><input id='name' name="name" />
            <br>

            <lable for="email">Email * </lable>
            <i class="fa-solid fa-envelope"></i><input   id='email' name="email"  required/>
            <br>

            <lable for="password">Password *</lable>
            <i class="fa-solid fa-lock"></i><input type="password" name="password"  required/>
            <br>

            <lable for="cpassword">Conform Password *</lable>
            <i class="fa-solid fa-lock"></i><input id='cpassword' type="password" name="cpassword" />
            <button type="submit">submit</button>
        </form>
    </div>
</body>

</html>